@model LenaQuest.ViewModels.SelectedUserEditorViewModel
    <tr>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Age)
        </td>
        <td>
            @Html.DisplayFor(model => model.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.QuestExpirience)
        </td>
        <td>
            @Html.CheckBoxFor(model => model.isSelected)
        </td>
        <td>
            @Html.HiddenFor(model => model.Email)
        </td>
    </tr>